header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 1px 5px 1px #cfcfcf;
  left: 0;
  top: 0;
}
header #header_wrap {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header_wrap .menu_wrap {
  display: flex;
}
header #header_wrap .menu_wrap .logo a {
  background-image: url(../images/logo_black.png);
  background-repeat: no-repeat;
  display: block;
  width: 156px;
  height: 50px;
  margin: 16px 100px 0 0;
}
header #header_wrap .menu_wrap .logo a .invisible_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header #header_wrap .menu_wrap .main_menu {
  display: flex;
  width: 800px;
}
header #header_wrap .menu_wrap .main_menu > li {
  padding: 31px 90px 32px 0;
}
header #header_wrap .menu_wrap .main_menu > li > a {
  display: block;
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}
header #header_wrap .menu_wrap .main_menu > li .sub_menu {
  position: absolute;
  top: 99%;
  left: 0;
  display: none;
  width: 100%;
  padding-top: 30px;
  height: 320px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #e1e1e1;
  border-radius: 14px;
}
header #header_wrap .menu_wrap .main_menu > li .sub_menu > li {
  width: 115px;
  margin-right: 4%;
}
header #header_wrap .menu_wrap .main_menu > li .sub_menu > li > a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 1;
  margin-bottom: 19px;
  cursor: pointer;
}
header #header_wrap .menu_wrap .main_menu > li .sub_menu > li .sub2_menu {
  line-height: 2.2;
}
header #header_wrap .menu_wrap .main_menu > li .sub_menu > li .sub2_menu a {
  font-size: 0.8em;
  color: #555;
  position: relative;
  margin-bottom: 5px;
}
header #header_wrap .menu_wrap .main_menu > li .sub_menu > li .sub2_menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: #555;
  transition: width 0.5s;
}
header #header_wrap .menu_wrap .main_menu > li .sub_menu > li .sub2_menu a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #555;
}
header #header_wrap .menu_wrap .main_menu > li .on {
  display: flex;
}
header #header_wrap .menu_wrap .main_menu > li:nth-of-type(1) .sub_menu {
  padding-left: 253px;
}
header #header_wrap .menu_wrap .main_menu > li:nth-of-type(2) .sub_menu {
  padding-left: 395px;
}
header #header_wrap .menu_wrap .main_menu > li:nth-of-type(3) .sub_menu {
  padding-left: 560px;
}
header #header_wrap .header_icon_box {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #header_wrap .header_icon_box .lang {
  position: relative;
}
header #header_wrap .header_icon_box .lang .lang_btn {
  background-image: url(../images/lang_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
header #header_wrap .header_icon_box .lang .lang_btn .invisible_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header #header_wrap .header_icon_box .lang .lang_contents {
  position: absolute;
  left: -35px;
  top: 30px;
  display: none;
}
header #header_wrap .header_icon_box .lang .lang_contents li {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 4px 16px 9px 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
header #header_wrap .header_icon_box .lang .lang_contents li a {
  color: #222;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
header #header_wrap .header_icon_box .lang .lang_contents .on {
  border: 2px solid rgb(103, 103, 103);
}
header #header_wrap .header_icon_box .lang .lang_contents .on a {
  color: rgb(225, 225, 225);
}
header #header_wrap .header_icon_box .search .search_btn {
  background-image: url(../images/search_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 25px;
  height: 25px;
}
header #header_wrap .header_icon_box .search .search_btn .invisible_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header #header_wrap .header_icon_box .more {
  width: 20px;
  height: 20px;
}
header #header_wrap .header_icon_box .more .more_btn {
  position: relative;
  width: 100%;
  height: 100%;
  top: -7px;
  cursor: pointer;
}
header #header_wrap .header_icon_box .more .more_btn .more_btn_element {
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #000;
  transform: translateY(-5px);
  border-radius: 50%;
}
header #header_wrap .header_icon_box .more .more_btn .more_btn_element:nth-of-type(1) {
  top: 0;
  left: 0;
}
header #header_wrap .header_icon_box .more .more_btn .more_btn_element:nth-of-type(2) {
  top: 0;
  right: 0;
}
header #header_wrap .header_icon_box .more .more_btn .more_btn_element:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
header #header_wrap .header_icon_box .more .more_btn .more_btn_element:nth-of-type(4) {
  bottom: 0;
  right: 0;
}
header #header_wrap .header_icon_box .more .more_btn .invisible_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header #all_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}
header #all_menu .all_menu_wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
header #all_menu .all_menu_wrap .all_menu_left {
  width: 50%;
  height: 0%;
  background-color: #222;
  position: relative;
}
header #all_menu .all_menu_wrap .all_menu_left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/more_dingo.png) no-repeat right;
  top: 0;
  right: -250px;
  opacity: 0;
}
header #all_menu .all_menu_wrap .all_menu_left .all_menu_logo {
  position: absolute;
  left: 15%;
  top: 100px;
  opacity: 0;
}
header #all_menu .all_menu_wrap .all_menu_left .all_menu_logo a {
  width: 160px;
  height: 50px;
  background: url(../images/logo_white.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
}
header #all_menu .all_menu_wrap .all_menu_left .all_menu_logo a .invisible_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header #all_menu .all_menu_wrap .all_menu_left .left_wrap .all_nav {
  position: absolute;
  width: 500px;
  top: 30%;
  left: 5%;
  color: #fff;
  opacity: 0;
}
header #all_menu .all_menu_wrap .all_menu_left .left_wrap .all_nav > li {
  font-size: 45px;
  padding: 25px 0;
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
}
header #all_menu .all_menu_wrap .all_menu_left .left_wrap .all_nav > li:hover .all_sub_nav {
  display: block;
}
header #all_menu .all_menu_wrap .all_menu_left .left_wrap .all_nav .all_sub_nav {
  display: none;
  position: absolute;
  width: 100%;
  left: 450px;
  top: 45px;
}
header #all_menu .all_menu_wrap .all_menu_left .left_wrap .all_nav .all_sub_nav li a {
  font-size: 0.8em;
  line-height: 2.3;
  font-weight: 100;
  color: rgb(204, 204, 204);
}
header #all_menu .all_menu_wrap .all_menu_left .left_wrap .all_nav .all_sub_nav::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #585858;
  top: 18px;
  left: -53px;
}
header #all_menu .all_menu_wrap .all_menu_left .left_sns_wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 5%;
  bottom: 5%;
  opacity: 0;
}
header #all_menu .all_menu_wrap .all_menu_left .left_sns_wrap a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}
header #all_menu .all_menu_wrap .all_menu_left .left_sns_wrap a:nth-of-type(1) {
  background: #fff url(../images/youtube.png) no-repeat center;
  background-size: 28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 20px;
}
header #all_menu .all_menu_wrap .all_menu_left .left_sns_wrap a:nth-of-type(2) {
  background: #fff url(../images/twitter.png) no-repeat center;
  background-size: 28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 20px;
}
header #all_menu .all_menu_wrap .all_menu_left .left_sns_wrap a:nth-of-type(3) {
  background: #fff url(../images/instagram.png) no-repeat center;
  background-size: 28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 20px;
}
header #all_menu .all_menu_wrap .all_menu_right {
  width: 50%;
  height: 100%;
  display: flex;
}
header #all_menu .all_menu_wrap .all_menu_right .right1 {
  width: 50%;
  height: 0%;
  background-color: #fff;
  position: relative;
  border-right: 1px solid #d7d7d7;
}
header #all_menu .all_menu_wrap .all_menu_right .right1 .right1_wrap {
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 0;
}
header #all_menu .all_menu_wrap .all_menu_right .right1 .right1_wrap .right1_menu > li {
  font-size: 45px;
  padding: 25px 0;
  font-weight: 100;
  text-transform: uppercase;
  color: #222;
}
header #all_menu .all_menu_wrap .all_menu_right .right1 .right1_wrap .right1_menu .right1_sub_menu {
  position: relative;
}
header #all_menu .all_menu_wrap .all_menu_right .right1 .right1_wrap .right1_menu .right1_sub_menu::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #828282;
}
header #all_menu .all_menu_wrap .all_menu_right .right1 .right1_wrap .right1_menu .right1_sub_menu li {
  font-size: 0.8em;
  line-height: 2.3;
  font-weight: 100;
  color: #222;
  padding: 6px 0;
}
header #all_menu .all_menu_wrap .all_menu_right .right1 .right1_wrap .right1_menu .right1_sub_menu li:first-child {
  padding-top: 1.2em;
}
header #all_menu .all_menu_wrap .all_menu_right .right2 {
  width: 50%;
  height: 0%;
  background-color: #fff;
  position: relative;
}
header #all_menu .all_menu_wrap .all_menu_right .right2 .right2_wrap {
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 0;
}
header #all_menu .all_menu_wrap .all_menu_right .right2 .right2_wrap .right2_menu > li {
  font-size: 45px;
  padding: 25px 0;
  font-weight: 100;
  text-transform: uppercase;
  color: #222;
}
header #all_menu .all_menu_wrap .all_menu_right .right2 .right2_wrap .right2_menu .right2_sub_menu {
  position: relative;
}
header #all_menu .all_menu_wrap .all_menu_right .right2 .right2_wrap .right2_menu .right2_sub_menu::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #828282;
}
header #all_menu .all_menu_wrap .all_menu_right .right2 .right2_wrap .right2_menu .right2_sub_menu li {
  font-size: 0.8em;
  line-height: 2.3;
  font-weight: 100;
  color: #222;
  padding: 6px 0;
}
header #all_menu .all_menu_wrap .all_menu_right .right2 .right2_wrap .right2_menu .right2_sub_menu li:first-child {
  padding-top: 1.2em;
  font-weight: 400;
}
header #all_menu .on {
  width: 100%;
  height: 100%;
  display: flex;
}
header #all_menu .on .all_menu_left {
  width: 50%;
  height: 100%;
  background-color: #000;
  transition: height 0.5s 0.1s;
}
header #all_menu .on .all_menu_left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/more_dingo.png) no-repeat right;
  top: 0;
  right: 0;
  opacity: 1;
  transition: all 1.3s 1.6s;
}
header #all_menu .on .all_menu_left .all_menu_logo {
  opacity: 1;
  transition: opacity 1s 1.5s;
}
header #all_menu .on .all_menu_left .left_wrap .all_nav {
  opacity: 1;
  left: 15%;
  transition: all 1s 0.6s;
}
header #all_menu .on .all_menu_left .left_sns_wrap {
  opacity: 1;
  transition: opacity 1s 1.5s;
}
header #all_menu .on .all_menu_right {
  width: 50%;
  height: 100%;
  display: flex;
}
header #all_menu .on .all_menu_right .right1 {
  width: 50%;
  height: 100%;
  background-color: #fff;
  transition: height 0.5s 0.15s;
}
header #all_menu .on .all_menu_right .right1 .right1_wrap {
  opacity: 1;
  transition: all 1s 0.8s;
  left: 15%;
}
header #all_menu .on .all_menu_right .right2 {
  width: 50%;
  height: 100%;
  background-color: #fff;
  transition: height 0.5s 0.2s;
}
header #all_menu .on .all_menu_right .right2 .right2_wrap {
  opacity: 1;
  transition: all 1s 1s;
  left: 15%;
}
header #all_menu .all_menu_close {
  position: absolute;
  right: 0;
  top: 0;
  background: #000;
}
header #all_menu .all_menu_close .all_close_btn {
  width: 90px;
  height: 90px;
  padding: 30px;
  cursor: pointer;
}
header #all_menu .all_menu_close .all_close_btn .invisible_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header #all_menu .all_menu_close .all_close_btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}
header #all_menu .all_menu_close .all_close_btn span:nth-of-type(1) {
  transform: rotate(45deg) translate(0px, 0px);
}
header #all_menu .all_menu_close .all_close_btn span:nth-of-type(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}

#main_wrapper {
  margin: 50px auto 0 auto;
  width: calc(100% - 80px);
  border-radius: 50px;
  padding-bottom: 100px;
  background: rgba(222, 222, 222, 0.55);
}
#main_wrapper .slide_wrapper {
  position: relative;
  width: calc(100% - 80px);
  margin: 0 auto;
  top: 90px;
  overflow: hidden;
  height: 870px;
  border-radius: 50px;
}
#main_wrapper .slide_wrapper .slide_container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in;
  left: 0;
}
#main_wrapper .slide_wrapper .slide_container li {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#main_wrapper .slide_wrapper .slide_container .slide1 {
  background-image: url(../images/slides01.jpg);
}
#main_wrapper .slide_wrapper .slide_container .slide2 {
  background-image: url(../images/slides02.jpg);
}
#main_wrapper .slide_wrapper .slide_container .slide3 {
  background-image: url(../images/slides03.jpg);
}
#main_wrapper .slide_wrapper .slide_container .slide4 {
  background-image: url(../images/slides04.jpg);
}
#main_wrapper .slide_wrapper .slide_container .slide5 {
  background-image: url(../images/slides05.jpg);
}
#main_wrapper .slide_wrapper .slide_container .slide_contents {
  position: absolute;
  width: 1200px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  transition: all 0.7s 0.5s ease-in-out;
}
#main_wrapper .slide_wrapper .slide_container .slide_contents * {
  opacity: 0;
  transition: all 0.7s 0.5s ease-in-out;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
#main_wrapper .slide_wrapper .slide_container .slide_contents h2 {
  font-size: 2.2em;
  padding: 3px 0;
}
#main_wrapper .slide_wrapper .slide_container .active * {
  opacity: 1;
  color: #fff;
}
#main_wrapper .slide_wrapper .slide_container .active > .slide_contents {
  position: absolute;
  width: 1200px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main_wrapper .slide_wrapper .controls {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 9;
  width: 50px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
#main_wrapper .slide_wrapper #prev {
  background-image: url(../images/left_btn.png);
  left: 20px;
}
#main_wrapper .slide_wrapper #next {
  background-image: url(../images/rigth_btn.png);
  right: 20px;
}
#main_wrapper .slide_wrapper .disabled {
  display: none;
}
#main_wrapper .slide_wrapper .pager {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}
#main_wrapper .slide_wrapper .pager a {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background: #ccc;
  text-indent: -9999em;
  cursor: pointer;
  display: inline-block;
}
#main_wrapper .slide_wrapper .pager .active {
  background: #000;
}
#main_wrapper .slide_wrapper .slide_gray_box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.4);
  z-index: 5;
}
#main_wrapper .section01 {
  width: 1400px;
  height: 700px;
  position: relative;
  margin: 290px auto 0 auto;
}
#main_wrapper .section01 .section01_wrap {
  position: absolute;
  width: 1000px;
  height: 100%;
  right: 0;
  bottom: 0;
}
#main_wrapper .section01 .section01_wrap .section01_content {
  position: absolute;
  z-index: 2;
  display: flex;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_left .section01_text {
  width: 400px;
  margin-top: 15px;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_left .section01_text h3 {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 20px;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_left .section01_text p {
  font-size: 0.6em;
  font-weight: 300;
  text-align: left;
  word-wrap: break-word;
  line-height: 20px;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_right {
  margin: 30px 0 0 25px;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_right .section01_right_top_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_right .section01_right_top_box img:nth-of-type(1) {
  width: 190px;
  height: 280px;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_right .section01_right_top_box img:nth-of-type(2) {
  margin-left: 25px;
  width: 150px;
  height: 150px;
}
#main_wrapper .section01 .section01_wrap .section01_content .section01_right .section_rigth_bottom_box {
  margin-top: 25px;
}
#main_wrapper .section01 .section01_wrap .section1_background {
  position: absolute;
  background-color: rgba(224, 224, 224, 0.6);
  z-index: 0;
  width: 850px;
  height: 600px;
  bottom: 0;
  right: 0;
}
#main_wrapper .section01 .section01_wrap img {
  border-radius: 20px;
}
#main_wrapper .section02 {
  width: calc(100% - 80px);
  height: 600px;
  margin: 200px auto 0 auto;
  border-radius: 50px;
  padding-top: 125px;
  background-image: url(../images/section02_img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#main_wrapper .section02 .section02_wrap {
  width: 1200px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#main_wrapper .section02 .section02_wrap .section02_icon_box {
  width: 350px;
  height: 100%;
  background-color: rgba(247, 233, 220, 0.2);
  position: relative;
}
#main_wrapper .section02 .section02_wrap .section02_icon_box img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main_wrapper .section02 .section02_wrap .section02_icon_box .section02_text_wrap {
  position: absolute;
  top: 70%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
#main_wrapper .section02 .section02_wrap .section02_icon_box .section02_text_wrap h3 {
  font-size: 28px;
  margin-bottom: 5px;
}
#main_wrapper .section02 .section02_wrap .section02_icon_box .section02_text_wrap p {
  font-size: 14px;
}
#main_wrapper .section03 {
  width: 1400px;
  height: 600px;
  margin: 200px auto 0 auto;
  position: relative;
}
#main_wrapper .section03 .section03_background {
  width: 900px;
  height: 100%;
  right: 0;
  position: absolute;
  background-color: rgba(224, 224, 224, 0.6);
  z-index: 0;
}
#main_wrapper .section03 .section03_contents_wrap {
  width: 1080px;
  height: 370px;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main_wrapper .section03 .section03_contents_wrap .section03_contents {
  width: 25%;
  height: 100%;
}
#main_wrapper .section03 .section03_contents_wrap .section03_contents:nth-of-type(2n) {
  background: #fff;
  border-radius: 20px;
}
#main_wrapper .section03 .section03_contents_wrap .section03_contents img {
  width: 100%;
  height: 100%;
}
#main_wrapper .section03 .section03_contents_wrap .section03_contents .section03_contents_text_box {
  width: 220px;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}
#main_wrapper .section03 .section03_contents_wrap .section03_contents .section03_contents_text_box h3 {
  font-size: 1.5em;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 32px;
  text-transform: capitalize;
}
#main_wrapper .section03 .section03_contents_wrap .section03_contents .section03_contents_text_box p {
  font-weight: 300;
  font-size: 0.7em;
  line-height: 25px;
  text-align: justify;
}
#main_wrapper .section03 img {
  border-radius: 20px;
}
#main_wrapper .section04 {
  width: calc(100% - 80px);
  height: 860px;
  margin: 200px auto 0 auto;
  border-radius: 50px;
  background-image: url(../images/section04_img_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#main_wrapper .section04 .section04_text_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
#main_wrapper .section04 .section04_text_wrap strong {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
#main_wrapper .section04 .section04_text_wrap span {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.02em;
}
#main_wrapper .section04 .section04_text_wrap p {
  font-size: 0.85em;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 29px 0 0;
}
#main_wrapper .section05 {
  width: 1400px;
  margin: 200px auto 0 auto;
  display: flex;
  position: relative;
}
#main_wrapper .section05 .section05_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#main_wrapper .section05 .section05_left .section05_left_img_wrap {
  width: 565px;
  height: 460px;
  position: relative;
}
#main_wrapper .section05 .section05_left .section05_left_img_wrap * {
  position: absolute;
}
#main_wrapper .section05 .section05_left .section05_left_img_wrap img:first-child {
  left: 0;
  top: 0;
}
#main_wrapper .section05 .section05_left .section05_left_img_wrap img:last-child {
  right: 0;
  top: 25%;
}
#main_wrapper .section05 .section05_left .section05_left_text_wrap {
  width: 565px;
}
#main_wrapper .section05 .section05_left .section05_left_text_wrap p {
  font-size: 0.8em;
  color: #222;
  margin-top: 40px;
  line-height: 1.6em;
  word-break: keep-all;
  text-align: justify;
}
#main_wrapper .section05 .section05_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
#main_wrapper .section05 .section05_right .section05_right_text_wrap {
  width: 380px;
}
#main_wrapper .section05 .section05_right .section05_right_text_wrap p {
  font-size: 0.8em;
  color: #222;
  margin-top: 40px;
  line-height: 1.6em;
  word-break: keep-all;
  text-align: justify;
}
#main_wrapper .section05 .section05_right .section05_right_img_wrap {
  margin-top: 40px;
}
#main_wrapper .section05 .section05_background {
  width: 390px;
  height: 630px;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(224, 224, 224, 0.6);
  z-index: 0;
}
#main_wrapper .section05 img {
  border-radius: 20px;
}
#main_wrapper .section06 {
  width: 1400px;
  margin: 200px auto 0 auto;
  position: relative;
}
#main_wrapper .section06 .section06_wrap {
  display: flex;
  padding-top: 70px;
  position: relative;
  z-index: 1;
}
#main_wrapper .section06 .section06_wrap .section06_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#main_wrapper .section06 .section06_wrap .section06_left .section06_left_text_wrap {
  width: 550px;
  text-align: left;
}
#main_wrapper .section06 .section06_wrap .section06_left .section06_left_text_wrap h4 {
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-weight: 300;
}
#main_wrapper .section06 .section06_wrap .section06_left .section06_left_text_wrap p {
  font-size: 0.8em;
  color: #222;
  line-height: 1.6em;
  word-break: keep-all;
  text-align: justify;
}
#main_wrapper .section06 .section06_wrap .section06_right {
  width: 50%;
  padding-left: 90px;
}
#main_wrapper .section06 .section06_wrap .section06_right .section06_right_text_wrap {
  width: 380px;
}
#main_wrapper .section06 .section06_wrap .section06_right .section06_right_text_wrap h4 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: #222;
  line-height: 1.1em;
  font-weight: 300;
  padding-bottom: 30px;
}
#main_wrapper .section06 .section06_background {
  width: 900px;
  height: 600px;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(224, 224, 224, 0.6);
  z-index: 0;
}
#main_wrapper .section06 img {
  border-radius: 20px;
}

footer {
  width: 100%;
  height: auto;
  margin-top: 200px;
  background-color: #dedede;
}
footer .footer_wrap {
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrap .footer_left {
  display: flex;
}
footer .footer_wrap .footer_left .footer_logo {
  padding-right: 60px;
}
footer .footer_wrap .footer_left .footer_info {
  padding-left: 90px;
  border-left: 1px solid #c5c5c5;
}
footer .footer_wrap .footer_left .footer_info ul li {
  position: relative;
  display: inline-block;
  color: #828282;
  font-size: 0.8em;
  font-weight: 300;
  padding: 3px 18px 3px 0;
}
footer .footer_wrap .footer_left .footer_info ul li:first-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #c5c5c5;
  right: 7px;
  top: 53%;
  transform: translateY(-50%);
}
footer .footer_wrap .footer_left .footer_info ul li:nth-of-type(3)::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #c5c5c5;
  right: 7px;
  top: 53%;
  transform: translateY(-50%);
}
footer .footer_wrap .footer_left .footer_info p {
  color: #828282;
  font-size: 0.8em;
  font-weight: 300;
  padding-top: 2px;
  border-top: 1px solid #c5c5c5;
  margin-top: 10px;
}
footer .footer_wrap .footer_right .footer_btn ul li {
  position: relative;
  display: inline-block;
  color: #828282;
  font-weight: 300;
  padding: 3px 18px 3px 0;
}
footer .footer_wrap .footer_right .footer_btn ul li a {
  color: #828282;
  font-size: 0.8em;
}
footer .footer_wrap .footer_right .footer_btn ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: #828282;
  transition: width 0.5s;
}
footer .footer_wrap .footer_right .footer_btn ul li a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 18px);
  height: 1px;
  background-color: #828282;
}
footer .footer_wrap .footer_right .footer_btn ul li:first-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #c5c5c5;
  right: 7px;
  top: 53%;
  transform: translateY(-50%);
}
footer .footer_wrap .footer_right .footer_sns_box {
  text-align: right;
  margin-top: 30px;
}
footer .footer_wrap .footer_right .footer_sns_box .footer_sns {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  display: inline-block;
  margin-right: 18px;
}
footer .footer_wrap .footer_right .footer_sns_box .footer_sns:nth-of-type(1) {
  background-image: url(../images/instagram.png);
}
footer .footer_wrap .footer_right .footer_sns_box .footer_sns:nth-of-type(2) {
  background-image: url(../images/youtube.png);
}
footer .footer_wrap .footer_right .footer_sns_box .footer_sns:nth-of-type(3) {
  background-image: url(../images/twitter.png);
}