@mixin  invisible_text {
	
	.invisible_text {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0, 0, 0, 0);
	}
}

@mixin section_background {

	position: absolute;
	background-color: rgba(224, 224, 224, .6);
	z-index: 0;
	
}

// 헤더부분

header {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 1px 5px 1px #cfcfcf;
    left: 0;
	top: 0;

	// 네비게이션 메뉴 박스

	#header_wrap {
		position: relative;
		width: calc(100% - 60px);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.menu_wrap {
			display: flex;
			.logo {
	
				a {
					background-image: url(../images/logo_black.png);
					background-repeat: no-repeat;
					display: block;
					width: 156px;
					height: 50px;
					margin: 16px 100px 0 0;		

					@include invisible_text;
				}
			}
	
			.main_menu {
				display: flex;
				width: 800px;
				
				> li {
					padding: 31px 90px 32px 0;

					> a {
						display: block;
						font-family: "Montserrat";
						font-size: 17px;
						font-weight: 600;
						color: #000;
						cursor: pointer;
					}

					.sub_menu {
						position: absolute;
						top: 99%;
						left: 0;
						display: none;
						width: 100%;
						padding-top: 30px;
						height: 320px;
						background-color: #fff;
						box-shadow: 0px 0px 5px #e1e1e1;
						border-radius: 14px;

						> li {
							width: 115px;
							margin-right: 4%;

							> a {
								display: block;
								font-size: 18px;
								font-weight: 600;
								color: #000;
								line-height: 1;
								margin-bottom: 19px;
								cursor: pointer;
							}

							.sub2_menu {
								line-height: 2.2;

								a {
									font-size: 0.8em;
									color: #555;
									position: relative;
									margin-bottom: 5px;

									&::before {
										content: '';
										position: absolute;
										bottom: 0;
										left: 0;
										width: 0px;
										height: 1px;
										background-color: #555;
										transition:width 0.5s;
									}

									&:hover {
										

										&::before {
											content: '';
											position: absolute;
											bottom: 0;
											left: 0;
											width: 100%;
											height: 1px;
											background-color: #555;
										}
									}
								}
							}
						}
					}

					.on {
						display: flex;
					}

					&:nth-of-type(1) {
						
						.sub_menu {
							padding-left: 253px;
						}
					}

					&:nth-of-type(2) {
						
						.sub_menu {
							padding-left: 395px;
						}
					}

					&:nth-of-type(3) {

						.sub_menu {
							padding-left: 560px;
						}
					}
				}
			}
		}
	
		// 헤더 아이콘 박스
	
		.header_icon_box {
			width: 150px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			
	
			.lang {
				position: relative;
	
				.lang_btn {
					background-image: url(../images/lang_icon.png);
					background-repeat: no-repeat;
					background-size: contain;
					display: block;
					width: 25px;
					height: 25px;
					cursor: pointer;
	
					@include invisible_text;
				}

				.lang_contents {
					position: absolute;
					left: -35px;
					top: 30px;
					display: none;

					li {
						font-size: 18px;
						background-color: rgba(0,0,0, .3);
						border-radius: 8px;
						padding: 4px 16px 9px 16px;
						text-transform: uppercase;
						margin-bottom: 5px;

						a {
							color: #222;
							font-size: 14px;
							font-family: 'Montserrat', sans-serif;
						}

					}
					.on {
						border: 2px solid rgb(103, 103, 103);

						a {
							color: rgb(225, 225, 225);
						}
					}
				}
			}
	
			.search {
	
				.search_btn {
					background-image: url(../images/search_icon.png);
					background-repeat: no-repeat;
					background-size: contain;
					display: block;
					width: 25px;
					height: 25px;
	
					@include invisible_text;
				}
			}
	
			.more {
				width: 20px;
				height: 20px;
	
				.more_btn {
					position: relative;
					width: 100%;
					height: 100%;
					top: -7px;
					cursor: pointer;
					
					.more_btn_element {
						width: 5px;
						height: 5px;
						position: absolute;
						background-color: #000;
						transform: translateY(-5px);
						border-radius: 50%;
	
						&:nth-of-type(1) {
							top: 0;
							left: 0;
						}
						&:nth-of-type(2) {
							top: 0;
							right: 0;
						}
						&:nth-of-type(3) {
							bottom: 0;
							left: 0;
						}
						&:nth-of-type(4) {
							bottom: 0;
							right: 0;
						}
					}
	
					@include invisible_text;
				}
			}
		}
	}

	#all_menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		visibility: hidden;

		.all_menu_wrap {
			width: 100%;
			height: 100%;
			display: flex;

			.all_menu_left {
				width: 50%;
				height: 00%;
				background-color: #222;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: url(../images/more_dingo.png) no-repeat right;
					top: 0;
					right: -250px;
					opacity: 0;
				}

				.all_menu_logo {
					position: absolute;
					left: 15%;
					top: 100px;
					opacity: 0;

					a {
						width: 160px;
    					height: 50px;	
						background: url(../images/logo_white.png);
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center center;
						display: block;

						@include invisible_text;
					}
				}

				.left_wrap {


					.all_nav {
						
						position: absolute;
						width: 500px;
						top: 30%;
						left: 5%;
						color: #fff;
						opacity: 0;

						> li {
							font-size: 45px;
							padding: 25px 0;
							font-weight: 100;
							position: relative;
							text-transform: uppercase;

							&:hover {

								.all_sub_nav {

									display: block;

								}
							}
						}

						.all_sub_nav {

							display: none;
							position: absolute;
							width: 100%;
							left: 450px;
							top: 45px;

							li {

								a {
									font-size: 0.8em;
									line-height: 2.3;
									font-weight: 100;
									color: rgb(204, 204, 204);
								}
							}

							&::before {
								content: "";
								position: absolute;
								width: 30px;
								height: 1px;
								background-color: #585858;
								top: 18px;
								left: -53px;
							}
						}
					}
				}

				.left_sns_wrap {
					position: absolute;
					display: flex;
					flex-direction: column;
					left: 5%;
					bottom: 5%;
					opacity: 0;

					a {
						width: 100%;
						height: 100%;
						display: block;
						cursor: pointer;
						margin-bottom: 10px;

						&:nth-of-type(1) {
							background: #fff url(../images/youtube.png) no-repeat center;
							background-size: 28px;
							width: 30px;
							height: 30px;
							border-radius: 50%;
							padding: 20px;
						}
						&:nth-of-type(2) {
							background: #fff url(../images/twitter.png) no-repeat center;
							background-size: 28px;
							width: 30px;
							height: 30px;
							border-radius: 50%;
							padding: 20px;
						}
						&:nth-of-type(3) {
							background: #fff url(../images/instagram.png) no-repeat center;
							background-size: 28px;
							width: 30px;
							height: 30px;
							border-radius: 50%;
							padding: 20px;
						}
					}
					
				}
			}
	
			.all_menu_right {
				width: 50%;
				height: 100%;
				display: flex;
	
				.right1 {
					width: 50%;
					height: 00%;
					background-color: #fff;
					position: relative;
					border-right: 1px solid #d7d7d7;

					.right1_wrap {
						position: absolute;
						top: 30%;
						left: 5%;
						opacity: 0;
						
						.right1_menu {

							> li {
								font-size: 45px;
								padding: 25px 0;
								font-weight: 100;
								text-transform: uppercase;
								color: #222;
							}

							.right1_sub_menu {
								position: relative;

								&::before {
									content: '';
									position: absolute;
									width: 50px;
									height: 1px;
									top: 0;
									left: 0;
									background-color: #828282;
								}

								li {
									font-size: 0.8em;
									line-height: 2.3;
									font-weight: 100;
									color: #222;
									padding: 6px 0;

									&:first-child {
										padding-top: 1.2em;
									}
								}
							}
						}
					}
				}
	
				.right2 {
					width: 50%;
					height: 00%;
					background-color: #fff;
					position: relative;

					.right2_wrap {
						position: absolute;
						top: 30%;
						left: 5%;
						opacity: 0;
						
						.right2_menu {

							> li {
								font-size: 45px;
								padding: 25px 0;
								font-weight: 100;
								text-transform: uppercase;
								color: #222;
							}

							.right2_sub_menu {
								position: relative;

								&::before {
									content: '';
									position: absolute;
									width: 50px;
									height: 1px;
									top: 0;
									left: 0;
									background-color: #828282;
								}

								li {
									font-size: 0.8em;
									line-height: 2.3;
									font-weight: 100;
									color: #222;
									padding: 6px 0;

									&:first-child {
										padding-top: 1.2em;
										font-weight: 400;
									}
								}
							}
						}
					}
				}
			}
		}
		//전체메뉴 클릭시 활성화
		.on {
			width: 100%;
			height: 100%;
			display: flex;

			.all_menu_left {
				width: 50%;
				height: 100%;
				background-color: #000;
				transition: height .5s .1s;

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: url(../images/more_dingo.png) no-repeat right;
					top: 0;
					right: 0;
					opacity: 1;
					transition: all 1.3s 1.6s;
				}

				.all_menu_logo {
					opacity: 1;
					transition: opacity 1s 1.5s;
				}

				.left_wrap {

					.all_nav {
						opacity: 1;
						left: 15%;
						transition: all 1s 0.6s;
					}
				}
				.left_sns_wrap {
					opacity: 1;
					transition: opacity 1s 1.5s;
				}
			}
	
			.all_menu_right {
				width: 50%;
				height: 100%;
				display: flex;
	
				.right1 {
					width: 50%;
					height: 100%;
					background-color: #fff;
					transition: height .5s .15s;

					.right1_wrap {
						opacity: 1;
						transition: all 1s .8s;
						left: 15%;
					}
				}
	
				.right2 {
					width: 50%;
					height: 100%;
					background-color: #fff;
					transition: height .5s .2s;

					.right2_wrap {
						opacity: 1;
						transition: all 1s 1s;
						left: 15%;
					}
				}
			}
		}


		.all_menu_close {
			position: absolute;
			right: 0;
			top: 0;
			background: #000;


			.all_close_btn {
				width: 90px;
				height: 90px;
				padding: 30px;
				cursor: pointer;

				@include invisible_text;

				span {
					display: block;
					width: 100%;
					height: 2px;
					background: #fff;

					&:nth-of-type(1) {
						transform: rotate(45deg) translate(0px, 0px);
					}

					&:nth-of-type(2) {
						transform: rotate(-45deg) translate(1px, -1px);
					}
				}
			}
		}

		
		
	}
}

//헤더 부분 끝



#main_wrapper {
	margin: 50px auto 0 auto;
    width: calc(100% - 80px);
    border-radius: 50px;
	padding-bottom: 100px;
    background: rgba(222, 222, 222, 0.55);



	//슬라이더 부분

	.slide_wrapper {
		position: relative;
		width: calc(100% - 80px);
		margin: 0 auto;
		top: 90px;
		overflow: hidden;
		height: 870px;
		border-radius: 50px;

		.slide_container {
			position: absolute;
			width: 100%;
			height: 100%;
			transition: left 0.3s ease-in;
			left: 0;

			li {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				
			}

			.slide1 {
				background-image: url(../images/slides01.jpg);
			}

			.slide2 {
				background-image: url(../images/slides02.jpg);
			}

			.slide3 {
				background-image: url(../images/slides03.jpg);
			}

			.slide4 {
				background-image: url(../images/slides04.jpg);
			}

			.slide5 {
				background-image: url(../images/slides05.jpg);
			}

			.slide_contents {
				position: absolute;
				width: 1200px;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 6;
				transition: all 0.7s 0.5s ease-in-out;

				* {
					opacity: 0;
					transition: all 0.7s 0.5s ease-in-out;
					color: #fff;
					font-family: 'Montserrat', sans-serif;
					text-transform: capitalize;
				}

				h2 {
					font-size: 2.2em;
					padding: 3px 0;
				}

			}
			.active * {
				opacity: 1;
				color: #fff;
			}

			.active > .slide_contents {
				position: absolute;
				width: 1200px;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.controls {
			position: absolute;
			display: block;
			top: 50%;
			z-index: 9;
			width: 50px;
			height: 15px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
		}

		#prev {
			background-image: url(../images/left_btn.png);
			left: 20px;
		}

		#next {
			background-image: url(../images/rigth_btn.png);
			right: 20px;
		}

		.disabled {
			display: none;
		}

		.pager {
			position: absolute;
			text-align: center;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 6;

			a {
				width: 10px;
				height: 10px;
				margin: 0 10px;
				border-radius: 50%;
				background: #ccc;
				text-indent: -9999em;
				cursor: pointer;
				display: inline-block;
			}

			.active {
				background: #000;
			}
		}

		.slide_gray_box {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(80, 80, 80, 0.4);
			z-index: 5;
		}
	}

	// 섹션1 시작
	.section01 {
		width: 1400px;
		height: 700px;
		position: relative;
		margin: 290px auto 0 auto;

		.section01_wrap {
			position: absolute;
			width: 1000px;
			height: 100%;
			right: 0;
			bottom: 0;
			
			.section01_content {
				position: absolute;
				z-index: 2;
				display: flex;
				
				.section01_left {
					
					.section01_text {
						width: 400px;
						margin-top: 15px;


						h3 {
							font-size: 1.25em;
							font-weight: 700;
							margin-bottom: 20px;
						}

						p {
							font-size: 0.6em;
							font-weight: 300;
							text-align: left;
							word-wrap: break-word;
							line-height: 20px
						}
					}
				}

				.section01_right {
					margin: 30px 0 0 25px;
					

					.section01_right_top_box {
						display: flex;
						flex-direction: row;
						align-items: flex-end;
						justify-content: space-evenly;

						img {

							&:nth-of-type(1) {
								width: 190px;
								height: 280px;
							}

							&:nth-of-type(2) {
								margin-left: 25px;
								width: 150px;
								height: 150px;
							}
						}
					}

					.section_rigth_bottom_box {
						margin-top: 25px
					}
				}
			}

			.section1_background {
				@include section_background;
				width: 850px;
				height: 600px;
				bottom: 0;
				right: 0;
			}

			img {
				border-radius: 20px;
			}
		}
	} //섹션1 끝

	.section02 {
		width: calc(100% - 80px);
		height: 600px;
		margin: 200px auto 0 auto;
		border-radius: 50px;
		padding-top: 125px;
		background-image: url(../images/section02_img01.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		.section02_wrap {
			width: 1200px;
			height: 350px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;

			.section02_icon_box {
				width: 350px;
				height: 100%;
				background-color: rgba(247, 233, 220, .2);
				position: relative;

				img {
					position: absolute;
					top: 35%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				.section02_text_wrap {
					position: absolute;
					top: 70%;
					width: 100%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #fff;
					text-align: center;

					h3 {
						font-size: 28px;
						margin-bottom: 5px;
					}

					p {
						font-size: 14px;
					}
				}
			}
		}
	}

	.section03 {
		width: 1400px;
		height: 600px;
		margin: 200px auto 0 auto;
		position: relative;

		.section03_background {
			width: 900px;
			height: 100%;
			right: 0;
			
			@include section_background;
		}

		.section03_contents_wrap {
			width: 1080px;
			height: 370px;
			position: absolute;
			display: flex;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.section03_contents {
				width: 25%;
				height: 100%;


				&:nth-of-type(2n) {
					background: #fff;
					border-radius: 20px;
					
				}

				img {
					width: 100%;
					height: 100%;
				}

				.section03_contents_text_box {
					width: 220px;
					height: 100%;
					margin: 0 auto;
					text-align: left;
					
					h3 {
						font-size: 1.5em;
						margin-bottom: 40px;
						margin-top: 40px;
						font-family: "Montserrat", sans-serif;
						font-weight: 400;
						line-height: 32px;
						text-transform: capitalize;
					}

					p {
						font-weight: 300;
						font-size: 0.7em;
						line-height: 25px;
						text-align: justify;
					}
				}
			}
		}

		img {
			border-radius: 20px;
		}
	}

	.section04 {
		width: calc(100% - 80px);
		height: 860px;
		margin: 200px auto 0 auto;
		border-radius: 50px;
		background-image: url(../images/section04_img_background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;

		.section04_text_wrap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: #fff;

			strong {
				font-size: 3em;
				font-weight: 100;
				text-transform: uppercase;
				font-family: 'Montserrat', sans-serif;
			}

			span {
				display: block;
				text-align: center;
				font-size: 2em;
				font-weight: 300;
				color: #fff;
				letter-spacing: -0.02em;
			}

			p {
				font-size: 0.85em;
				font-weight: 300;
				line-height: 1.7;
				letter-spacing: -0.02em;
				color: #fff;
				margin: 29px 0 0;
			}
		}
	}

	.section05 {
		width: 1400px;
		margin: 200px auto 0 auto;
		display: flex;
		position: relative;

		.section05_left {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			
			.section05_left_img_wrap {
				width: 565px;
				height: 460px;
				position: relative;


				* {
					position: absolute;
				}

				img {

					&:first-child {
						left: 0;
						top: 0;
					}
	
					&:last-child {
						right: 0;
						top: 25%;
					}
				}
			}

			.section05_left_text_wrap {
				width: 565px;

				p {
					font-size: 0.8em;
					color: #222;
					margin-top: 40px;
					line-height: 1.6em;
					word-break: keep-all;
					text-align: justify;
				}
			}
		}

		.section05_right {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			z-index: 1;

			.section05_right_text_wrap {
				width: 380px;

				p {
					font-size: 0.8em;
					color: #222;
					margin-top: 40px;
					line-height: 1.6em;
					word-break: keep-all;
					text-align: justify;
				}
			}

			.section05_right_img_wrap {
				margin-top: 40px;
			}
		}

		.section05_background {
			width: 390px;
			height: 630px;
			right: 0;
			top: 0;
			
			@include section_background;
		}

		img {
			border-radius: 20px;
		}
	}

	.section06 {
		width: 1400px;
		margin: 200px auto 0 auto;
		position: relative;

		.section06_wrap {
			display: flex;
			padding-top: 70px;
			position: relative;
			z-index: 1;

			.section06_left {
				width: 50%;
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				.section06_left_text_wrap {
					width: 550px;
					text-align: left;

					h4 {
						font-size: 3em;
						font-family: 'Montserrat', sans-serif;
						color: #222;
						font-weight: 300;
					}

					p {
						font-size: 0.8em;
						color: #222;
						line-height: 1.6em;
						word-break: keep-all;
						text-align: justify;
					}

				}
			}

			.section06_right {
				width: 50%;
				padding-left: 90px;

				.section06_right_text_wrap {
					width: 380px;

					h4 {
						font-size: 60px;
						font-family: 'Montserrat', sans-serif;
						color: #222;
						line-height: 1.1em;
						font-weight: 300;
						padding-bottom: 30px;
					}
				}
			}
		}


		.section06_background {
			width: 900px;
			height: 600px;
			right: 0;
			top: 0;

			@include section_background;
		}

		img {
			border-radius: 20px;
		}
	}
}

footer {
	width: 100%;
	height: auto;
	margin-top: 200px;
	background-color: #dedede;

	.footer_wrap {
		padding: 50px 40px;
		display: flex;
		justify-content: space-between;

		.footer_left {
			display: flex;

			.footer_logo {
				padding-right: 60px;
			}

			.footer_info {
				padding-left: 90px;
				border-left: 1px solid #c5c5c5;
				ul {


					li {
						position: relative;
						display: inline-block;
						color: #828282;
						font-size: 0.8em;
						font-weight: 300;
						padding: 3px 18px 3px 0;

						&:first-child {

							&::before {
								content: "";
								position: absolute;
								width: 1px;
								height: 9px;
								background-color: #c5c5c5;
								right: 7px;
								top: 53%;
								transform: translateY(-50%);
							}
						}

						&:nth-of-type(3) {

							&::before {
								content: "";
								position: absolute;
								width: 1px;
								height: 9px;
								background-color: #c5c5c5;
								right: 7px;
								top: 53%;
								transform: translateY(-50%);
							}
						}
					}
				}

				p {
					color: #828282;
					font-size: 0.8em;
					font-weight: 300;
					padding-top: 2px;
					border-top: 1px solid #c5c5c5;
					margin-top: 10px;
				}
			}
		}

		.footer_right {

			.footer_btn {
				ul {
				
					li {
						position: relative;
						display: inline-block;
						color: #828282;
						font-weight: 300;
						padding: 3px 18px 3px 0;
						
						a {
							color: #828282;
							font-size: 0.8em;
							
							&::before {
								content: '';
								position: absolute;
								bottom: 0;
								left: 0;
								width: 0px;
								height: 1px;
								background-color: #828282;
								transition:width 0.5s;
							}

							&:hover {
								

								&::before {
									content: '';
									position: absolute;
									bottom: 0;
									left: 0;
									width: calc(100% - 18px);
									height: 1px;
									background-color: #828282;
								}
							}
						}
	
						&:first-child {
	
							&::before {
								content: '';
								position: absolute;
								width: 1px;
								height: 9px;
								background-color: #c5c5c5;
								right: 7px;
								top: 53%;
								transform: translateY(-50%);
							}
						}
					}
				}
			}

			.footer_sns_box {
				text-align: right;
				margin-top: 30px;
				
				.footer_sns {
					background-repeat: no-repeat;
					background-size: 25px;
					background-position: center center;
					display: block;
					width: 35px;
					height: 35px;
					border: 1px solid #c5c5c5;
					border-radius: 50%;
					display: inline-block;
					margin-right: 18px;
					
					&:nth-of-type(1) {
						background-image: url(../images/instagram.png);
					}
					&:nth-of-type(2) {
						background-image: url(../images/youtube.png);
					}
					&:nth-of-type(3) {
						background-image: url(../images/twitter.png);
					}
				}
			}
		}
	}
}